{{/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/}}

<!-- Translated to German -->
{{define "footer"}}
<!-- Main Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark footer bg-dark">
    <div class="w-100">
        <div class="float-left">
            <span class="d-none d-sm-inline" href="systemtestportal.org">
                {{T "Powered by" .}}
                    <a href="http://www.systemtestportal.org" target="_blank">
                SystemTestPortal
                </a>
            </span>
            <span class="d-sm-none d-inline ">{{T "STP" .}}</span>
            <span class="d-none d-sm-inline">{{T "Version" .}}:</span> {{.version}}


        </div>
        <a href="/about" class="d-print-none">
            <span class="d-none d-sm-inline">&nbsp;&nbsp;{{T "About and Licenses" .}}</span>
            <span class="d-sm-none d-inline">{{T "About" .}}</span>
        </a>

        <div class="float-right">
            <a href="/imprint" class="d-print-none">
                <span class="d-inline">{{T "Imprint" .}}</span>
            </a>
            - 
            <a href="/privacy" class="d-print-none">
                <span class="d-inline">{{T "Privacy" .}}</span>
            </a>
        </div>
    </div>
</nav>
{{end}}